<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite" >

  <listeners>
    <listener class-name="ua.tcb.webdriver.Screenshot" />
  </listeners>

  <test name="Test" preserve-order="false">
    <classes>
      <class name="ua.tcb.FindPerson"/>
    </classes>
  </test>

</suite>
